[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
[Rr]eleases/
[Pp]ublish*/
artifacts/
TestResults/
.vs/
*.user
*.suo
*.rsuser
*.VC.db
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets
*.pdb
*.ipdb
*.iobj
*.obj
*.pch
*.ilk
*.log
*.tmp
*.vsp
*.vspx
*.psess
*.dll
*.lib
*.exp
*.tlb
*.tli
*.tlh

